---
import Sidebar from '~/components/about-me/sidebar.astro';
import DefaultLayout from '../layouts/default-layout.astro';

---

<DefaultLayout
	title="Mateusz Bagiński | Dev & Stuff"
	description="Are you seriously reading meta descriptions? Well, since you're here - I'm a software developer who writes code and occasionally remembers to document it."
>
	<div class="flex gap-8">
		<Sidebar />

		<div class="flex-1">
			<slot />
		</div>
	</div>
</DefaultLayout>
