---
import Sidebar from '~/components/about-me/sidebar.astro';
import DefaultLayout from '../layouts/default-layout.astro';
import Timeline from '~/components/timeline/timeline.astro';
import Experience from '~/components/experience/experience.astro';
import AboutMe from '~/components/about-me/about-me.astro';
import CatReview from '~/components/testimonials/cat-review.astro';
---

<DefaultLayout
	title="Mateusz Bagiński | Dev & Stuff"
	description="Are you seriously reading meta descriptions? Well, since you're here - I'm a software developer who writes code and occasionally remembers to document it."
>
	<div class="gap-12 lg:gap-16 grid grid-cols-1 lg:grid-cols-[auto_1fr]">
		<Sidebar />

		<div>
			<AboutMe />
			<hr class="mx-auto my-12 lg:my-8 max-w-96" />
			<CatReview />
			<hr class="mx-auto my-12 lg:my-8 max-w-96" />
			<Timeline />
			<hr class="mx-auto my-12 lg:my-8 max-w-96" />
			<Experience />
		</div>
	</div>
</DefaultLayout>
