---
import { COMPANIES } from "~/data/experience";
import JobItem from "./job-item.astro";
import ExpandableSection from '../shared/expandable-section.astro';

const sortedCompanies = COMPANIES.sort((a, b) =>
  (b.duration.end?.getTime() ?? Date.now()) - (a.duration.end?.getTime() ?? Date.now())
);
---

<section class="lg:mt-4 lg:pt-2">
  <h2 class="max-md:flex max-md:flex-col max-md:gap-1 mb-6 font-semibold text-gray-900 text-xl">
    🌟 Experience & Roles
    <span class="font-normal text-gray-500 text-sm">What I did in tech?</span>
  </h2>

  <ExpandableSection maxHeight={1500} id="experience-section">
    <div class="space-y-6">
      {sortedCompanies.map((company) => (
        <JobItem job={company} />
      ))}
    </div>
  </ExpandableSection>
</section>
