---
import '~/styles/base.scss';

import Footer from '../components/footer/index.astro';
import GhCorner from '~/components/gh-corner.astro';

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content={description} />
    <title>{title}</title>
  </head>
  <body class="flex flex-col bg-white selection:bg-blue-200 w-full min-h-screen text-gray-900 selection:text-black antialiased overflow-x-hidden">
    <div class="flex flex-col min-h-screen">
      <GhCorner />

      <main class="flex flex-col flex-1 mt-8 max-sm:mt-2">
        <slot />
      </main>

      <Footer />
    </div>
  </body>
</html>
